.title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
	margin: 20px;
	-webkit-animation-name: greenFont;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes greenPulse {
	from { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
	50% { background-color: #91bd09; -webkit-box-shadow: 0 0 18px #91bd09; }
	to { background-color: #749a02; -webkit-box-shadow: 0 0 9px #333; }
}
@-webkit-keyframes greenFont {
	from { color: #749a02;}
	50% { color: #91bd09;}
	to { color: #749a02;}
}
@-webkit-keyframes hideBtn {
	from { opacity: 1;}
	50% { opacity: 0.5;}
	to { opacity: 0;}
}
.my-btn{
	border-style: solid;
	border-width: 0;
	border-radius: 100%;
	cursor: pointer;
	font-weight: bold;
	margin: 100px 0;
	padding-top: 0.75em;
	padding-right: 1.5em;
	padding-bottom: 0.8125em;
	padding-left: 1.5em;
	font-size: 3em;
	background-color: #adc708;
	border-color: #829606;	
	color: white;
	height: 250px;
	width: 250px;
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.hide-btn{
	-webkit-animation-name: hideBtn;
	-webkit-animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
}
.food-item{
	border:1px solid #adc708;
	display: block;
	text-decoration: none;
	padding: 10px;
}
.active{
	-webkit-animation-name: greenPulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}
.m-t-md{
	margin-top: 20px;
}